<!-- Related Posts -->
<section class="section related-posts mt-40 mb-0">
	<div class="title-wrap title-wrap--line title-wrap--pr">
	  <h3 class="section-title">Liknande nyheter</h3>
	</div>

	<!-- Slider -->
	<div id="owl-posts-3-items" class="owl-carousel owl-theme owl-carousel--arrows-outside">
{{ collection:region limit="1" :slug:is="segment_2" scope="region"}}
		{{ collection:articles scope="similar" limit="10" :id:aint="id" :region:contains="region:id"  categories:is="{segment_3}" sort="views:desc" }}

				{{ if no_results }}
						<p>Tyvärr, så finnes inga nyheter.</p>
				{{ else }}
			<article class="entry thumb thumb--size-1">
				<div class="entry__img-holder thumb__img-holder" style="background-image: url('{{ glide:similar:intro_image width='400' }}');">
					<div class="bottom-gradient"></div>
					<div class="thumb-text-holder">
						<h2 class="thumb-entry-title">
							<a href="/region/{{segment_2}}/{{similar:categories}}{{slug}}{{/similar:categories}}/{{similar:date format="Y"}}-{{similar:date format="m"}}-{{similar:date format="d"}}-{{similar:slug}}">{{ similar:title }}</a>
						</h2>
					</div>
					<a href="/region/{{segment_2}}/{{similar:categories}}{{slug}}{{/similar:categories}}/{{similar:date format="Y"}}-{{similar:date format="m"}}-{{similar:date format="d"}}-{{similar:slug}}" class="thumb-url"></a>
				</div>
			</article>

			{{ /if }}
		{{ /collection:articles }}
{{ /collection:region }}

	</div> <!-- end slider -->

</section> <!-- end related posts -->
