{{partial:latest}}

{{ collection from="region" :slug:is="region_slug" scope="region"}}



<div class="main-container container pt-24" id="main-container">
      <div class="row">

        <!-- Posts -->
        <div class="col-lg-8 blog__content mb-72">

          <!-- Worldwide News -->
          <section class="section">
            <div class="title-wrap">
							{{ taxonomy:categories sort="ordning" scope="category" :slug:is="category_slug"}}
              <h3 class="section-title">{{ region:title }} - {{ category:title }}</h3>
							{{ /taxonomy:categories }}
              <div class="tabs tab-post__tabs">
                <ul class="tabs__list">
                  <li class="tabs__item {{ if segment_1 == "nyheter" && !segment_2 }}tabs__item--active {{ /if }}">
                    <a href="/region/{{segment_2}}" class="tabs__trigger">Alla</a>
                  </li>

                  {{ taxonomy:categories sort="ordning" as="categories"}}
										{{ categories scope="cat"}}
                    <li class="tabs__item {{ if segment_1 == "region" && segment_3 == cat:slug }} tabs__item--active {{ /if }}">
                      <a href="/region/{{segment_2}}{{ link :to="cat:slug" }}" class="tabs__trigger">{{ cat:title }}</a>
                    </li>
										{{ /categories }}
                  {{ /taxonomy:categories }}


                </ul> <!-- end tabs -->
              </div>
            </div>

							{{ taxonomy:categories sort="ordning" scope="category" :slug:is="category_slug"}}

            {{ collection:articles as="articles" :region:contains="region:id"  limit="10" paginate="true" artikel_typ:is="nyhet" taxonomy:categories="{category_slug}" }}

             {{ if no_results }}
                <p>Inga artiklar hittades.</p>
            {{ /if }}

                {{ articles }}
                  {{ partial:article_feed_region }}
                {{ /articles }}

                {{ partial:pagination }}

            {{ /collection:articles }}

          </section> <!-- end worldwide news -->



        </div> <!-- end posts -->

        <!-- Sidebar -->
        <aside class="col-lg-4 sidebar sidebar--right">

           <!-- Widget Popular Posts -->
          {{partial:most_read_region}}
           <!-- end widget popular posts -->

					 <!-- Widget Newsletter -->
           {{ partial:newsletter }}
           <!-- end widget newsletter -->

          <!-- Widget Popular Posts -->
          {{partial:reportage}}
           <!-- end widget popular posts -->

        <!-- Widget Newsletter -->
           {{ partial:massor }}
           <!-- end widget newsletter -->

           <!-- Widget Popular Posts -->
            {{ partial:podcasts }}
           <!-- end widget popular posts -->

          <!-- Widget Popular Posts -->
            {{ partial:vlog }}
           <!-- end widget popular posts -->


          <!-- Widget Side ads  -->
            {{ partial:side_ads }}
           <!-- end widget side ads  -->

          <!-- Widget Socials -->
           {{# partial:follow #}}
           <!-- end widget socials -->

        </aside> <!-- end sidebar -->

      </div>


      <div class="text-center pb-48">
          {{ partial:bottom_ad }}
      </div>


      <section class="section mb-0">
        <div class="title-wrap title-wrap--line title-wrap--pr">
          <h3 class="section-title">Senaste nytt från BoPodden &amp; BoVloggen</h3>
        </div>

        <!-- Slider -->
        <div id="owl-posts" class="owl-carousel owl-theme owl-carousel--arrows-outside">

          {{ partial:vlog_carousel }}

        </div> <!-- end slider -->

      </section>


      <!-- Utvalda kategorier -->
      {{ partial:utvalda_kategorier }}
      <!-- End Utvalda kategorier -->


      </div>
			{{ /taxonomy:categories }}

		{{ /collection }}
